extends layout

block content
  p #{title}

  script.
    function getAccountInfo(){
      var pathname = window.location.pathname;
      fetch(pathname + "/getAccountInfo")
    }

  div.body#dynamicContent
    button(type="button" name="getAccountInfo" onclick="getAccountInfo();") Get Account Info
