extends layout

block content
  p #{title}

  div.body#dynamicContent
    p Effero - makes science public.  
    p Our vision is to incentivize science publication authors and reviewers directly. Publication today has high entry barriers which reduce the number of possible publications and limits access between different organizations, institutions and universities. We want to tap into the idea of Tim Berners Lee to more easily exchange knowledge with the same quality as before but without the current limitations.
    p We will leverage new Distributed Ledger Technology (DLT) to proof document authenticity and track publishing records across different systems. Through Effero and a lightweight organization structure we can bring down the costs and redirect the funds back to authors and reviewers.   
    br
    p Effero will suit as a governing organization with the goal to give back benefit to authors, researcher, universities and the general public. 
