doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content

    div.body#navigation
    a(href="/") Home
    br
    a(href="/foundation") Foundation
    br
    a(href="/foundation/fund") Fund Treasury
    br
    a(href="/foundation/search") Search for new Ideas
    br
    a(href="/foundation/upload") Upload your work
  