doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content

    block foot
      div.body#navigation
        a#mainnav(href="/") Home
        a#mainnav(href="/foundation") Foundation
        a#mainnav(href="/foundation/fund") Fund Treasury
        a#mainnav(href="/library") Search for new Ideas
        a#mainnav(href="/uploadPapers") Upload your work
  