doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content

    div.body#navigation
      a(href="/") Home
      a(href="/foundation") Foundation
      a(href="/foundation/fund") Fund Treasury
      a(href="/library") Search for new Ideas
      a(href="/uploadPapers") Upload your work
  